html {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#logo {
  font-family: "Pacifico";
  font-size: 50px;
  padding: 10px;
  text-decoration: none;
  color: rgb(8, 129, 129);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 120px;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

header a {
  margin-left: 20px;
  color: white;
  font-size: 20px;
  padding: 12px;
  text-decoration: none;
}

header a:hover {
  color: rgb(236, 195, 140);
}

main {
  min-height: calc(100vh - 280px);
}

footer {
  background: linear-gradient(70deg, rgb(5, 76, 76), rgb(8, 129, 129));
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 40px;
}

footer li {
  width: 80px;
  height: 80px;
  margin: 0 50px;
}

footer img {
  width: 100%;
  height: 100%;
}
